* {
 font-family: "fira code", monospace;
}

body {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 background-color: hsl(0, 0%, 40%);
}

#counter button {
 height: 40px;
 width: 40px;
 border-radius: 50%;
 border: 2px solid gray;
 background-color: white;
 color: gray;
 font-size: 16pt;
 font-weight: 600;
 text-align: center;
}

.reset {
 height: auto;
 width: auto;
 border: 2px solid gray;
 background-color: white;
 color: gray;
 font-size: 16pt;
 font-weight: 600;
 text-align: center;
}

#counter {
 display: flex;
}

#currentNumber {
 display: flex;
 align-items: center;
 margin: 0 20px;
 font-size: 16pt;
}